.encabezado {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    font-size: 20px;
    margin: 0 0 15px;
    text-shadow: 2px 2px 5px rgb(247,215,74),
                -2px -2px 5px rgb(247,215,74);
    color: #000;  
    background-color: rgb(0, 0, 0);
}

header {
    background-color: rgb(0, 0, 0);
}

.background {
    background-color: rgba(4, 19, 29, 0.5);
    padding: 30px;
    margin: auto 20px;
    width: 96%;
    border-radius: 4%;
}

h1{
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color:rgb(219,55,55);
    text-shadow: 3px 3px  rgb(0, 0, 0),
                 -3px -3px black,
                  0px 10px rgb(247,215,74),
                  -5px -5px rgb(247,215,74);
    margin: 20px 10px 0;
}
h2{
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    text-shadow:  2px 2px 5px rgb(247,215,74),
                 -2px -2px 5px rgb(247,215,74);
    margin: 20px 0 0;
    align-content: center;
    color: black;
}
h3 {
    font-family: 'Press Start 2P', cursive;
    text-shadow:  2px 2px 5px rgb(247,215,74),
                 -2px -2px 5px rgb(247,215,74);
    align-content: center;
    margin: 20px 0 30px 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-shadow:  2px 2px 5px rgb(219,55,55);
    margin: 20px 0 0;
    color: white; 
}
.instrucciones {
    color: white;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-shadow:  2px 2px 5px rgb(219,55,55);
    margin: 20px 0 0;
    color: white;  
}

label {
    color: white;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    text-shadow:  2px 2px 5px rgb(219,55,55);

}
.card-title{
    font-family: 'Press Start 2P', cursive;
    text-shadow:  2px 2px 5px rgb(247,215,74),
                 -2px -2px 5px rgb(247,215,74);
    margin: 20px 0 0;
    align-content: center;
}

.pj{
    padding: 0 0 15px;
}

.carousel-inner {
    width: 95%;
    height: 500px;
}

.carousel-inner img {
    margin: 20px auto;
    max-height: 400px;
    width: 88%;
}

.novedades {
    width: 100%;
    height: 300px;
    margin: 100px 27px 100px 27px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  
}
.tamañoTabla {
    height: auto;
}
.col-6 col-sm-4{
    height: auto;
}

.col-md-7 p {
    display: grid;
    text-align: justify;
    color: white;
    font-size: 17px;
    padding-top: 30px;
    text-shadow: none;
    padding-top: 15px;
}

th {
    color: white;
}
.col-md-5{
    padding-top: 33px;
}

.destacadas{
    background-color: rgb(32, 31, 31);
    padding-top: 15px;
}

.well {
    background-image: url(../images/tp/red.jpg.jpg);
    
}
.ofer{
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 15px;
    
}

hr {
    height: 2px;
    background-color: black;
    border-color:  2px 2px 5px rgb(247,215,74),
                 -2px -2px 5px rgb(247,215,74);
      
}
.text-muted{
    color: rgb(247,215,74);
    font-size: 9px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
}

.text-muted:hover{
    color: rgb(252, 235, 160);
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

.separador {
    background-color: grey;
    height: 1px;
}

body {
     
     background-image: url(../images/tp/azul1.jpg); 
     background-position: center;
}

footer{
    font-family: 'Press Start 2P', cursive;
    color:rgb(219,55,55);
    text-shadow: 3px 3px  rgb(0, 0, 0),
                 -3px -3px black;
    padding-top: 20px;
    font-size: 13px;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    height: 100px;
    background-color: rgb(32, 31, 31);
}

#tabla{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

td{
    color:white;
    width:100px;

}

.img-tabla{
    height:140px ;
    width: 140px;
}
.spanDescript{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;

}
img {
    border: solid 1px rgba(255, 255, 255, 0.479);
    border-radius: 1%;
    -moz-box-shadow: 5px 4px 7px rgb(0, 0, 0,0.7);
    -webkit-box-shadow: 5px 4px 7px rgb(0, 0, 0,0.7);
    box-shadow: 5px 4px 7px rgb(0, 0, 0,0.7);
}
li img{
    width: 100%;
    height: auto;
}

.btn-warning,.btn-primary,.btn-danger{
    border-radius: 5px;
    color: black;
}

.ocultar{
    display: none;
}
ul#tabla li{
    border: rgb(194, 194, 194) 5px solid;
    border-radius: 1%;
    padding: 20px 30px;
    margin: 20px;
    font-weight: bold;
    text-align: left;
    width: 29%;
    color: white;
    background-color: rgba(2, 18, 26, 0.699);
}

*{box-sizing:border-box;}

		.redes {
			width:95%;
			max-width:900px;
			padding:32px 64px;
            margin:auto;
		}

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:48px;
			position:fixed;
			top:50px;
            right:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-100px;
		}

        .social img{
            border: none;
            box-shadow: none;
        }
        
.card-img{
    width: 250px;
    height: 350px;
}
.card{
    margin: 5PX 5px 10px;
}
.eslogan{
    display: none;
}

.dropdown {
    display: block;
}

.btn btn-primary dropdown-toggle {
    display: none;
}
.info{
    margin: 50px;
}
.pedidos{
    margin: 40px 40px 80px 40px;
}
.datos{
    margin: 40px 40px 80px 40px;
}

.container text-center {
    display: flex;
    align-content: center;
}

.col-md-8 p{
    display: grid;
    text-align: justify;
    color: white;
    font-size: 17px;
    padding-top: 30px;
    text-shadow: none;
} 

.por-que-3d p{
    display: grid;
    text-align: justify;
    color: white;
    font-size: 17px;
    padding-top: 20px;
    text-shadow: none;
}

.lista {
    padding-top: 25px;
}
.contacto {
    padding-top: 20px;
}
.col-md-12 {
    padding-top: 30px;
}
form {
    padding-top: 35px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

@media screen and (min-width: 750px) {

    .img-responsive{
        width:90%;
        max-height: 400px;
    }

    .eslogan{
        display: block;
    }

    .dropdown {
        display: none;
    }

    .btn btn-primary dropdown-toggle {
        display: block;
    }
}

    